
      <!-- START THE FEATURETTES -->

      <hr class="featurette-divider">

      <div class="row featurette">
      
        <div class="col-md-5">
        <h3>篮球俱乐部</h3>
          <img class="featurette-image img-responsive qc-code" src="images/basketball-qc.jpg" alt="profession web engineering">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">篮球俱乐部联系人： Dustin Tel:519-616-3168, dike.zhang@gmail.com， 微信：dustin_zhang_kw</h2>
          <p class="lead"> 请用微信扫描左边的QR号就可以加入联系群(5月9号前有效)</p>
        </div>

        
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
        <h3>羽毛球俱乐部</h3>
          <img class="featurette-image img-responsive qc-code" src="images/badminton.jpg" alt="profession web site design">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">羽毛球俱乐部联系人： Dustin Tel:519-616-3168, email:dike.zhang@gmail.com，微信：dustin_zhang_kw</h2>
          <p class="lead"> 请用微信扫描左边的QR号就可以加入联系群(5月9号前有效)</p>
        </div>
      </div>
